* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.container {
    position: relative;
    overflow: hidden;
    height: 100%;
    cursor:crosshair;
    background: black;
}

.square {
    position: absolute;
    height: 15vw;
    width: 15vw;
    left: 42.5vw;
    top: 40%;
    /* border-radius: 50%; */
    /* ^circles mode^ */
    transition-property: transform;
    transition-timing-function: ease;
}

.blue {
    background: lightblue;
}

.red {
    background: lightcoral;
}

.green {
    background:palegreen
}

.yellow {
    background:papayawhip
}
